warnlog
*.log
*.tmp
*.old
*.bak
*.jar
*.json
builds
last

ext
*.txt
workspace
javadoc
htmlreports

.bash_history
.config
.fontconfig
.kde*
.lesshst
.owner
.vim*
jobs/*/last*
jobs/*/next*
updates/
war/
.ssh
.ccache
.subversion
